<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd 
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd" >
	
	<!-- 注解扫描包 -->
	<context:component-scan base-package="com.roncoo.adminlte" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController" />
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>
	
	<!-- 开启Spring MVC注解 -->
	<mvc:annotation-driven />
	
	<!-- 定义无需Controller时，页面跳转直接映射 -->
	<mvc:view-controller path="/" view-name="redirect:/login" />
	
	<!-- 允许对静态资源文件的访问 -->
	<mvc:resources location="/static/" mapping="/static/**" />
	<mvc:resources location="/favicon.ico" mapping="/favicon.ico" />
    
	<!--配置拦截器, 多个拦截器,顺序执行 -->  
	<!-- 
	<mvc:interceptors>
	    <mvc:interceptor>
	        <mvc:mapping path="/admin/**" />  
	        <bean class="com.roncoo.community.common.util.interceptor.SessionInterceptor"></bean>    
	    </mvc:interceptor>  
	</mvc:interceptors> 
	-->  
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>  

</beans>
